@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* :root {
    --primary-color: #E1D5E2;
    --secondary-color: #F0E5F5;
    --third-color: #5C3F7A;
} */

:root {
    --primary-color: white;
    --secondary-color: #071c57;
    --third-color: #eead09;
}

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    background-color: var(--secondary-color);
    max-width: 100%;
    margin: 0;
}

.white-space {
    background-color: var(--primary-color);
    text-align: center;
    border-radius: 1rem 1rem;
    padding-top: 4rem;
    max-width: 90%;
    margin: auto;
}



.nav {
    text-align: center;
    color: var(--primary-color);
    margin: 1.5rem 0rem;
    padding: 1rem 0rem;
}

.hero {
    color: var(--third-color);
}

h1 {
    display: inline;
}

.text {
    margin: auto;
    color: var(--secondary-color);
    max-width: 900px;
    margin-bottom: 0.83em;
    padding: 0rem 2rem;
    padding-top: 1rem;
}


#output-box {
    width: 50%;
    border: 3px black solid;
    height: 10vh;
    margin: 2rem;
    display: block;
    padding: 1rem;
    margin: auto;
    font-size: larger;
    background-color: white;
    overflow: auto;
    text-align: center;
    border-radius: 1rem 1rem;
}

#input-box {
    width: 50%;
    border: 3px black solid;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: auto;
    font-size: larger;
    /* font-family: 'Montserrat', sans-serif; */
    text-align: center;
    border-radius: 1rem 1rem;
}

.button {
    margin: 1rem;
    text-align: center;
}

#translate-btn {
    font-family: 'Montserrat', sans-serif;
    padding: 0.6rem;
    font-size: larger;
    border-radius: 1rem 1rem;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px black solid;
}


@media only screen and (max-width: 900px) {
    #input-box {
      width: 80%;
    }
    #output-box {
        width: 80%;
      }
  }
